@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
*{
  font-family: 'Open Sans';
  line-height: 170%;
  color: #444;
}
/*body, p, h1, h2{
  margin: 0;
  padding: 0;
}*/

h2{
  margin-top: 20px;
  font-size: 20px;
}

h1{
  font-size: 50px;
}

h3{
  font-size: 30px;
}

mark {
  background-color: white;
  padding: 0px 1px;
  /*opacity: 0.5;*/
  
} 

.wrapper{
  padding: 100px;
  margin: 0 0 50px 0;
  text-align: center;
  height: 45vh;
  background: url('https://static.themoscowtimes.com/image/article_1360/c5/9d6336449aa84ea6a4bc76a44bdf8705.jpg') no-repeat center center fixed;
  background-size: cover;
  transition: all 0.4s ease;

}

.wrapperText {
	font: black !important;

}
.articleText{
  margin: 0 10% 30px 20%; 
  width: 50%;
  max-width: 600px;
  padding-left: 120px;
  
  transition: all 0.4s ease;
}
.introduction{
  margin-bottom: 20px;
}


a {
  cursor: pointer;
}



 h5 {
  font-family: Roboto, sans-serif;
  color : #383554;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.buble_legend{
  opacity: 1;
  transition: opacity 0.3s;
}

.buble_legend text,
.axis text {
  font-size: 13px;
  fill: #333;
}

.axis path,
.axis line {
  fill: none;
  stroke-width:1px;
  stroke: #e7e7e7;
}

circle {
  stroke: #fff;
}

.bubble {
  opacity: 1;
  transition: opacity 0.3s;
}

.bubble text {
  opacity: 0;
  pointer-events: none;
  font-size: 12px;

}

.bubble:hover text {
  opacity: 1;
}

.bubble:hover circle {
  fill-opacity: 1;
}

.tooltip {
    position: absolute;
    font-size: 12px ;
    width:  auto;
    height: auto;
    pointer-events: none;
    background-color: white;
 }

